        * { margin: 0; }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            
        }

        .calculator {
            padding: 1rem;
            border-radius: 1rem;
            background-color: #1e1d1d;
            width: 20rem;
            height: 30rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }

        #display {
            width: 18rem;
            height: 6rem;
            font-size: 3rem;
            padding-left: 1rem;
            border-radius: 0.5rem;
            border: none;
            color: white;
            background-color: rgba(255, 255, 255, 0.25);
        }

        #display::placeholder { color: white; }

        .button-group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .button-row {
            display: flex;
            gap: 0.5rem;
        }

        button {
            width: 4.5rem;
            height: 5rem;
            font-size: 2rem;
            border-radius: 0.3rem;
            border: none;
            background-color: rgba(255, 255, 255, 0.25);
            color: white;
            transition: 0.1s;
        }

        button:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .operator {
            color: orange;
            font-weight: 700;
        }

        #equals {
            background: orange;
            font-weight: 700;
        }

        #equals:hover {
            background-color: rgb(255, 182, 45);
        }