* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 29, 29);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Input Box */
#inputBox {
    display: flex;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.26);
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
}

/* Birth Date Input */
#birthDateInput {
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

/* Button */
#calculateBtn {
    color: rgb(29, 29, 29);
    font-size: 1.5rem;
    border: none;
    padding: 1rem 3rem;
    border-radius: 1rem;
    transition: 0.2s;
}

#calculateBtn:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Result Box */
#resultBox {
    width: 40rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: white;
    padding: 2rem 4rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.26);
}
